/* $noteBg: #fef3a1;
$color: #d3cdcd;
$dark: black;

 
body{
  margin: 0;
  padding: 0;
  color: $dark;
  font-family: 'Indie Flower', cursive;
  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content : center;
    position: relative;
    .addNote{
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px 20px;
      background: $noteBg;
      font-size: 15px;
      border: 2px solid darken($noteBg, 20%);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
.note{
  margin: 0 20px 20px 0;
  background-color: $noteBg;
  position: absolute;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lighten($dark, 80%);
  width: 200px;
  height: 250px;
  &:hover{
    cursor: move;
  }
  header{
    background-color: darken($noteBg, 20%);
    padding: 5px 10px;
    margin: 0;
    position: relative;
    button{
      background: transparent;
      font-size: 15px;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px;
      color: $dark;

    }
  }
  article{
    padding: 10px;
    position: relative;
    
  }
  
}  */

*.container {
  margin-top:5%;
  /* padding-top:5%; */
  height:60%;
  width: 50%;
  min-width: 500px;
}

#first {
   padding-top:5%;
}