
  
  <div style="border: 1px solid black">
    Title: {{stickynote.title}}
    Notes: {{stickynote.note}}
    Date: {{stickynote.stickyDate}}
    Status {{stickynote.status}}
  </div>
  <div>
    <button (click)="show()">Click To Update Sticky Note</button>
    <!-- <button (click)="removeStickyNote()">Remove</button> -->
  </div><br><br>
  <div *ngIf="status">
  <body>
    <body>
      <form>
          <div class = "container" style = "background-color: yellow">
              <button (click)="removeStickyNote()" class="close" aria-label="Close">
                      &times;</button>
          <div id="first" class="form-group">
              <label>Enter Sticky Note Name: </label> <input type="text" class="form-control-sm" style="background-color:yellow" [(ngModel)]='stickynote.title' name="title" id="title"><br>
          </div>
          <div class="form-group">
              <label>Enter Sticky Note Message: </label><input type="text" class="form-control-sm" style="background-color:yellow" [(ngModel)]='stickynote.note' name="note" id="note"><br>
          </div>
          <div class="form-group">
              <label>Enter Sticky Note Date: </label><input type="text" class="form-control-sm" style="background-color:yellow" [(ngModel)]='stickynote.stickyDate' name="stickyDate" id="stickyDate"><br>
          </div>
          <div class="form-group form-check">
              <label>Status of Sticky Note: </label>
              <select (change)="[value]" [(ngModel)]='stickynote.status' name="status" id="status" style="background-color:yellow">
                <option value="0">--All--</option>
                <option value ="Pending">Pending</option>
                <option value="Completed">Completed</option>
              </select><br><br>
              <button class = "btn btn-primary" (click)="updateStickyNote()"> Update Sticky Note</button>
          </div>
        </div>
      </form>
      </body>




  